*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: lightblue;
    display: flex;
    justify-content: center;
}
#response{
    margin-top: 12px;
    height: 34px;
    font-size: 33px;
    text-align: center;
    font-weight: 700;
    text-transform: capitalize;
}
#myCanvas{
    margin-top: 5px;
    background-color: lightyellow;
}
.buttons{
    display: flex;
    padding: 10px 0px;
    justify-content: center;
}
.btn{
    padding: 5px 10px;
    color: black;
    border: none;
    font-size: medium;
    border-radius: 4px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    transition: all .2s;
    cursor: pointer;
}
.btn:hover{
    scale: 1.1;

}
.icon{
    margin-right: 6px;
}
#undo{
    background-color: blue;
}
#undo:hover{
    background-color: rgba(0, 0, 255, 0.7);
}
#reset{
    background-color: red;
}
#reset:hover{
    background-color: rgba(255, 0, 0, 0.7);
}
#save{
    background-color: green;
}
#save:hover{
    background-color: rgba(0, 128, 0, 0.7);
}
#predict{
    background-color: yellow;
}
#predict:hover{
    background-color: rgba(255, 255, 0, 0.7);
}
.mr{
    margin-right: 15px;
}
.options{
    display: flex;
    justify-content: space-evenly;
    margin: 5px 0px;
    font-size: medium;
    font-family: sans-serif;
    font-weight: bold;
}
.option-container{
    display: flex;
    gap: 5px;
}
